@import "common";

#searchBox{
	position:relative; width:450px;
	.queryInput{
		position:absolute;
		height:40px; width:360px;
		text-indent:10px; font-size:16px; border-radius:5px; border:2px solid @light-blue; box-shadow:inset 1px 1px 5px @grey;
		outline: none;
		&:focus{border-color:@yellow; background:lighten(@yellow,10%);}
	}
	.queryBtn{
		position:absolute; right:0;
		.button(@blue,75px,38px,16px,5px);
		margin-left:15px;
	}
	.suggestBox{
		position:absolute; top:50px; z-index:10; width:360px; display:none; background:@white; border-radius:5px; box-shadow:1px 1px 5px @grey; 
		&.show{display:block;}
		&:hover{display:block;}
		li{
			margin:10px; padding:5 10px;
			&.cur,&:hover{background:@yellow; border-radius:5px;}
		}
	}
	.spell{
		position:absolute; top:10px; right:100px;background:@light-blue; border-radius:10px; padding:0 8px; cursor:pointer; margin:2px 5px 2px 0; font-size:10px; color:@grey2; display:none;
		&.show{display:inline-block}
	}
}

.option{
	#saveBtn{.button(@blue,75px,38px,16px,5px); float:right; margin:40px 20px 0 0;}
	.panel{
		padding-top:60px;
	}
	.opt{
		position:relative; margin:15px 20px; font-size:12px; color:@grey2;
		&.select{
			select{position:absolute; right:0; top:1px;}
		}
		&.checkbox{
			input{position:absolute; right:0; top:1px;}
		}
		&.text{
			input{position:absolute; right:0; top:0px; width:25px;}
		}
		&.array{
			.filter{
				background:#eee; padding:5px; border-radius:10px;
				.wrap{
					max-height:150px; overflow-y: auto; .scrollbar();
				}
				li{
					position:relative; border-radius:10px;
					input{
						text-indent:0.5em; width:100%; background:none; border:none; outline:none;
					}
					.deleteBtn{position:absolute; right:2px; top:1px; .circleButton(@blue,14px); display:none;}
					&:hover{
						background:#ccc;
						.deleteBtn{display:block; cursor:pointer;}
					}
					&.active{
						background:@yellow;
					}
				}
				.addBtn{.circleButton(@green,14px); width:100%; cursor:pointer;}
			}
		}
	}
}


.searchHistory{
	.panel{
		padding-top:80px;
	}
	.historyList{
		margin:0 20px; font-size:12px; color:@grey2;
		li{
			border-radius:10px; text-indent:10px; cursor:pointer;
			&:hover{
				background:#ccc;
			}
		}
	}
}